img.username {
  width: 1000px;
  border-radius: 500px;
  float: none;
  margin-right: 10px;
}
.username {
  font-weight: bold;
}
em {
  color: crimson;
  font-style: normal;
}
h1 {
  text-align: center;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: cadetblue;
}
